@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color:#e6f7ff;
    font-family: 'Poppins';
}
.home-container {
    text-align: center;
    padding: 100px;
}
h1 {
    color: #333;
}


.icon {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 15px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    height: 0;
    width: 0;
    text-decoration: none;
}

.icon:hover {
    transform: scale(1.1);
}

.tick {
    background-color: #28a745;
}

.cross {
    background-color: #dc3545;
}


.adminview{
    position: fixed;
    top: 55px;
    height: 100vh;
    width: 15vw;
    padding: 10px 20px;
    border-right: 1px solid black;
    box-sizing: border-box;
}

.admindata{
    margin-top: 80px;
    width: 80vw;
    margin-left:17vw ;
}

.btn-none{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: black;
}

.formview {
    width: 50vw;
    padding: 30px 10px;
    margin-top: 100px;
    border-radius: 20px;
}
.form p {
    display: flex;
    align-items: center;
}

.form label {
    width: 100%;
    padding: 5px 10px;
    white-space: nowrap;
}

.form input {
    width: 100%;
    padding: 5px 10px;
}
.form select {
    width: 100%;
}

#id_gender {
    display: flex;
    position: relative;
    bottom: 50px;
    left: 250px;
}

.exam {
    margin-top: 100px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    width: 50vw;
}

.exam div ul li {
    list-style: none;
}

.bg-form{
    background-color: #35a7dbe1
}


.form select option selected{
    background-color: red;
}